In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv("cars.csv")
df.head(10)

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

## z = (x - u) / s --> For every data points.This is formula
<h3>z = new value
x = orginal value
u = mean
s= std</h3>

In [3]:
# split the column
x = df[['Weight','Volume']]
x.head()

   Weight  Volume
0     790    1000
1    1160    1200
2     929    1000
3     865     900
4    1140    1500

In [4]:
y = df['CO2']
y.head(7)

0     99
1     95
2     95
3     90
4    105
5    105
6     90
Name: CO2, dtype: int64

In [5]:
scale = StandardScaler()

In [6]:
scaleX = scale.fit_transform(x)
scaleX

array([[-2.10389253, -1.59336644],
       [-0.55407235, -1.07190106],
       [-1.52166278, -1.59336644],
       [-1.78973979, -1.85409913],
       [-0.63784641, -0.28970299],
       [-1.52166278, -1.59336644],
       [-0.76769621, -0.55043568],
       [ 0.3046118 , -0.28970299],
       [-0.7551301 , -0.28970299],
       [-0.59595938, -0.0289703 ],
       [-1.30803892, -1.33263375],
       [-1.26615189, -0.81116837],
       [-0.7551301 , -1.59336644],
       [-0.16871166, -0.0289703 ],
       [ 0.14125238, -0.0289703 ],
       [ 0.15800719, -0.0289703 ],
       [ 0.3046118 , -0.0289703 ],
       [-0.05142797,  1.53542584],
       [-0.72580918, -0.0289703 ],
       [ 0.14962979,  1.01396046],
       [ 1.2219378 , -0.0289703 ],
       [ 0.5685001 ,  1.01396046],
       [ 0.3046118 ,  1.27469315],
       [ 0.51404696, -0.0289703 ],
       [ 0.51404696,  1.01396046],
       [ 0.72348212, -0.28970299],
       [ 0.8281997 ,  1.01396046],
       [ 1.81254495,  1.01396046],
       [ 0.96642691, -0.0289703 ],
       [ 1.72877089,  1.01396046],
       [ 1.30990057,  1.27469315],
       [ 1.90050772,  1.01396046],
       [-0.23991961, -0.0289703 ],
       [ 0.40932938, -0.0289703 ],
       [ 0.47215993, -0.0289703 ],
       [ 0.4302729 ,  2.31762392]])

In [7]:
model = LinearRegression()
model.fit(scaleX,y)

LinearRegression()

In [8]:
scaled = scale.transform([[2300, 1.3]])

In [9]:
scaled

array([[ 4.22104928, -4.19730382]])

In [10]:
predictedCO2 = model.predict([scaled[0]])

In [11]:
predictedCO2

array([97.07204485])

In [12]:
scaled2 = scale.transform([[2500,1.5]])
scaled2

array([[ 5.05878992, -4.19678236]])

In [13]:
predictedCO3 = model.predict(scaled2)
predictedCO3

array([98.58379535])