In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# read excel file

In [2]:
df = pd.read_excel("Linear_Regression_multiple_variable.xlsx")
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

# handling NaN value

In [3]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [4]:
fill_value = df.experience.median()
fill_value

5.0

In [5]:
df.experience = df.experience.fillna(fill_value)
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [6]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

# create LinearRegression object

In [7]:
reg_obj = LinearRegression()

In [8]:
reg_obj.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

# findout intercept

In [9]:
reg_obj.intercept_

33.41000091043592

# findout coefficent

In [10]:
reg_obj.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [11]:
value = np.array(list(map(float,input("Enter speed,car_age,experience: ").split())),ndmin=2)
predict_value = reg_obj.predict(value)
print("The predict risk is: ",*predict_value)
# input value: 160,10,5

Enter speed,car_age,experience: 160 10 5
The predict risk is:  71.3714687200075