In [1]:
import pandas as pd

In [2]:
lst = ['a', 'b', 'c']
lst

['a', 'b', 'c']

In [3]:
df = pd.DataFrame(lst)
df

   0
0  a
1  b
2  c

In [4]:
ls_of_ls = [[1,2,3], [2,3,4], [4,5,6]]   # Creating list of list
df2 = pd.DataFrame(ls_of_ls)

In [5]:
df2

   0  1  2
0  1  2  3
1  2  3  4
2  4  5  6

In [6]:
dict2 = {'ID': [11,22,33,44], 'SN': [1,2,3,4]}
dict2

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [7]:
df3 = pd.DataFrame(dict2)

In [8]:
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

In [10]:
# Creating dataframe from list of dict with different way
 
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]   
df4 = pd.DataFrame(ls_dict)
df4

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [11]:
dict_sr = {'ID': pd.Series([1,2,3]), 'SN': pd.Series([111,222,333])}
df5 = pd.DataFrame(dict_sr)
df5

   ID   SN
0   1  111
1   2  222
2   3  333