 ## Label encoding vs Ordinal encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder
import warnings

In [2]:
warnings.filterwarnings(action="ignore")

In [3]:
df = pd.read_csv("D:\\JUPYTER\\Data Cleaning\\csv_file\\train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df2 = df[["KitchenQual","BldgType"]]
df2

     KitchenQual BldgType
0             Gd     1Fam
1             TA     1Fam
2             Gd     1Fam
3             Gd     1Fam
4             Gd     1Fam
...          ...      ...
1455          TA     1Fam
1456          TA     1Fam
1457          Gd     1Fam
1458          Gd     1Fam
1459          TA     1Fam

[1460 rows x 2 columns]

In [5]:
label_encoding = LabelEncoder()

In [6]:
label_encoding.fit_transform(df2["BldgType"])

array([0, 0, 0, ..., 0, 0, 0])

In [7]:
df2["BldgType_L_en"] = label_encoding.fit_transform(df2["BldgType"])

In [8]:
df2

     KitchenQual BldgType  BldgType_L_en
0             Gd     1Fam              0
1             TA     1Fam              0
2             Gd     1Fam              0
3             Gd     1Fam              0
4             Gd     1Fam              0
...          ...      ...            ...
1455          TA     1Fam              0
1456          TA     1Fam              0
1457          Gd     1Fam              0
1458          Gd     1Fam              0
1459          TA     1Fam              0

[1460 rows x 3 columns]

In [9]:
df2["BldgType"].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

## Ordinal encoding

In [10]:
df2["KitchenQual"].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [11]:
order_label = {"Ex":4,"Gd":3,"TA":2,"Fa":1}
df2["KitchenQual_ord_en"] = df2["KitchenQual"].map(order_label)
df2

     KitchenQual BldgType  BldgType_L_en  KitchenQual_ord_en
0             Gd     1Fam              0                   3
1             TA     1Fam              0                   2
2             Gd     1Fam              0                   3
3             Gd     1Fam              0                   3
4             Gd     1Fam              0                   3
...          ...      ...            ...                 ...
1455          TA     1Fam              0                   2
1456          TA     1Fam              0                   2
1457          Gd     1Fam              0                   3
1458          Gd     1Fam              0                   3
1459          TA     1Fam              0                   2

[1460 rows x 4 columns]

In [12]:
df3 = df[["KitchenQual","BldgType"]]
df3

     KitchenQual BldgType
0             Gd     1Fam
1             TA     1Fam
2             Gd     1Fam
3             Gd     1Fam
4             Gd     1Fam
...          ...      ...
1455          TA     1Fam
1456          TA     1Fam
1457          Gd     1Fam
1458          Gd     1Fam
1459          TA     1Fam

[1460 rows x 2 columns]

In [13]:
ordinal_encode = OrdinalEncoder()

In [14]:
ordinal_encode.fit(df3)

OrdinalEncoder()

In [15]:
ordinal_encode.transform(df3)

array([[2., 0.],
       [3., 0.],
       [2., 0.],
       ...,
       [2., 0.],
       [2., 0.],
       [3., 0.]])

In [16]:
ordinal_encode.fit_transform(df3)

array([[2., 0.],
       [3., 0.],
       [2., 0.],
       ...,
       [2., 0.],
       [2., 0.],
       [3., 0.]])

In [17]:
pd.DataFrame(ordinal_encode.fit_transform(df3),columns=["KitchenQual_en","BldgType_en"])

      KitchenQual_en  BldgType_en
0                2.0          0.0
1                3.0          0.0
2                2.0          0.0
3                2.0          0.0
4                2.0          0.0
...              ...          ...
1455             3.0          0.0
1456             3.0          0.0
1457             2.0          0.0
1458             2.0          0.0
1459             3.0          0.0

[1460 rows x 2 columns]

In [18]:
data = pd.DataFrame({
    'city' : ['delhi', 'hyderabad', 'delhi', 'delhi', 'gurgaon', 'hyderabad']
})
# create an object of the OrdinalEncoding
ce_ordinal = OrdinalEncoder()
# fit and transform and you will get the encoded data
ce_ordinal.fit_transform(data)

array([[0.],
       [2.],
       [0.],
       [0.],
       [1.],
       [2.]])

In [19]:
pd.DataFrame(ce_ordinal.fit_transform(data))

     0
0  0.0
1  2.0
2  0.0
3  0.0
4  1.0
5  2.0

In [20]:
"a"<"b"

True