#### https://www.analyticsvidhya.com/blog/2021/06/style-your-pandas-dataframe-and-make-it-stunning/

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(88)

In [3]:
np.random.randn(10, 4)

array([[ 0.1068843 ,  2.20581524,  0.95656269,  0.0684111 ],
       [ 1.06851382,  0.99718264, -0.93154792,  0.73043049],
       [-0.17121369, -1.28869118,  1.06143594, -0.04050128],
       [-0.90372141, -1.55413303, -0.95113284,  0.20052589],
       [-0.74732897,  1.06808085, -0.27702378,  0.08655741],
       [-0.25322081, -1.21204101,  0.2772728 ,  0.55221909],
       [-0.46774271, -1.42749266,  0.88580451,  2.36063376],
       [-1.52200628, -0.21594503,  0.19032674,  0.7222561 ],
       [-0.8707161 ,  0.10174933,  0.55535848,  0.96226137],
       [ 1.43349941, -0.70181778, -0.85695202, -0.85815807]])

In [4]:
df = pd.DataFrame(data={'A': np.linspace(start=1, stop=10, num=10)})

df2 = pd.DataFrame(data=np.random.randn(10, 4), columns=list("BCDF"))

In [5]:
df

      A
0   1.0
1   2.0
2   3.0
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   9.0
9  10.0

In [6]:
df2

          B         C         D         F
0 -0.398517 -0.264412 -0.900726  1.244040
1 -1.505724 -1.789772 -0.316752  0.098902
2  0.346145 -0.938257 -1.419523  0.312229
3 -1.282849  0.160704  0.454525 -0.707391
4  0.493811  0.137946 -0.272587  0.820660
5  0.027164  0.782549  0.101352  0.647331
6 -0.336499 -0.805200  1.414704 -1.243236
7 -1.057594  0.381915  0.242662 -0.524589
8 -0.653479 -1.555315  0.001241  0.150090
9 -0.177472  0.542897 -0.664550 -0.349174

In [7]:
df3 = pd.concat(objs=[df, df2], axis=1)

df3

      A         B         C         D         F
0   1.0 -0.398517 -0.264412 -0.900726  1.244040
1   2.0 -1.505724 -1.789772 -0.316752  0.098902
2   3.0  0.346145 -0.938257 -1.419523  0.312229
3   4.0 -1.282849  0.160704  0.454525 -0.707391
4   5.0  0.493811  0.137946 -0.272587  0.820660
5   6.0  0.027164  0.782549  0.101352  0.647331
6   7.0 -0.336499 -0.805200  1.414704 -1.243236
7   8.0 -1.057594  0.381915  0.242662 -0.524589
8   9.0 -0.653479 -1.555315  0.001241  0.150090
9  10.0 -0.177472  0.542897 -0.664550 -0.349174

In [8]:
df3.iloc[3,3] = np.nan
df3.iloc[0,2] = np.nan

df3

      A         B         C         D         F
0   1.0 -0.398517       NaN -0.900726  1.244040
1   2.0 -1.505724 -1.789772 -0.316752  0.098902
2   3.0  0.346145 -0.938257 -1.419523  0.312229
3   4.0 -1.282849  0.160704       NaN -0.707391
4   5.0  0.493811  0.137946 -0.272587  0.820660
5   6.0  0.027164  0.782549  0.101352  0.647331
6   7.0 -0.336499 -0.805200  1.414704 -1.243236
7   8.0 -1.057594  0.381915  0.242662 -0.524589
8   9.0 -0.653479 -1.555315  0.001241  0.150090
9  10.0 -0.177472  0.542897 -0.664550 -0.349174

### For highlighting Maximum values

In [9]:
df3.style.highlight_max()

In [10]:
# change color

df3.style.highlight_max(color="pink")

### For highlighting minimum values

In [11]:
df3.style.highlight_min()

### Highlight Null values

In [12]:
df3.style.highlight_null(color="red")

`set_na_rep(): Along with highlighting the missing values, they may be represented as “nan”. You can change the representation of these missing values using the set_na_rep() function. This function can also be chained with any styler function but chaining it with highlight_null will provide more details.`

In [13]:
df3.style.format(na_rep="OutofScope").highlight_null(color="orange")

### Create Heatmap within dataframe

There are few parameters you can pass to this function to further customize the output generated:

cmap: By default, the “PuBu” colormap is selected by pandas You can create a custom matplotlib colormap and pass it to the camp parameter.

axis: Generating heat plot via rows or columns criteria, by default: columns
        
text_color_threshold: Controls text visibility across varying background colors.

In [14]:
df3.style.background_gradient()

### Table Properties

In [15]:
df3.style.set_properties(**{'border': '1.3px solid green',
                          'color': 'magenta'})

### Create Bar charts

Just as the heatmap, the bar charts can also be plotted within the dataframe itself. The bars are plotted in each cell depending upon the axis selected. By default, the axis=0 and the plot color are also fixed by pandas but it is configurable. To plot these bars, you simply need to chain the “.bar()” function to the styler object.

In [16]:
df3.style.bar()

### Control precision

In [17]:
df3.style.format(precision=3)

### Add Captions

In [18]:
df3.style.set_caption("This is Analytics Vidhya Blog").format(precision=3).background_gradient()

### Hiding Index or Column

In [19]:
df3.style.hide(axis="index")

### Control display values

In [20]:
df3.style.format("{:.3%}")

In [21]:
df3.style.format("{:.3%}", na_rep="&&")