In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("DataSet/dataset.csv")

In [3]:
df.head()

,ID,Name,Team,Pos,Height,Weight,BMI,Birth_Place,Birthdate,Age,...,OREB,DREB,REB,AST,STL,BLK,TO,PTS,DD2,TD3
0,1,Aerial Powers,DAL,F,183,"""\""71\""""",21.20,US,"January 17, 1994",23,...,6,22,28,12,3,6,12,93,0,0
1,2,Alana Beard,LA,G/F,185,"""\""73\""""",21.33,US,"May 14, 1982",35,...,19,82,101,72,63,13,40,217,0,0
2,3,Alex Bentley,CON,G,170,"""\""69\""""",23.88,US,"October 27, 1990",26,...,4,36,40,78,22,3,24,218,0,0
3,4,Alex Montgomery,SAN,G/F,185,"""\""84\""""",24.54,US,"December 11, 1988",28,...,35,134,169,65,20,10,38,188,2,0
4,5,Alexis Jones,MIN,G,175,"""\""78\""""",25.47,US,"August 5, 1994",23,...,3,9,12,12,7,0,14,50,0,0

In [4]:
df.shape

(143, 33)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 33 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            143 non-null    int64
 1   Name          143 non-null    object
 2   Team          143 non-null    object
 3   Pos           143 non-null    object
 4   Height        143 non-null    int64
 5   Weight        142 non-null    object
 6   BMI           142 non-null    float64
 7   Birth_Place   143 non-null    object
 8   Birthdate     143 non-null    object
 9   Age           143 non-null    int64
 10  College       143 non-null    object
 11  Experience    143 non-null    object
 12  Games Played  143 non-null    int64
 13  MIN           143 non-null    int64
 14  FGM           143 non-null    int64
 15  FGA           143 non-null    int64
 16  FG%           143 non-null    float64
 17  15:00         143 non-null    int64
 18  3PA           143 non-null    int64
 19  3P%           143 non-null    float64
 20  FTM           143 non-null    int64
 21  FTA           143 non-null    int64
 22  FT%           143 non-null    float64
 23  OREB          143 non-null    int64
 24  DREB          143 non-null    int64
 25  REB           143 non-null    int64
 26  AST           143 non-null    int64
 27  STL           143 non-null    int64
 28  BLK           143 non-null    int64
 29  TO            143 non-null    int64
 30  PTS           143 non-null    int64
 31  DD2           143 non-null    int64
 32  TD3           143 non-null    int64
dtypes: float64(4), int64(21), object(8)
memory usage: 37.0+ KB

In [7]:
df.columns

Index(['ID', 'Name', 'Team', 'Pos', 'Height', 'Weight', 'BMI', 'Birth_Place',
       'Birthdate', 'Age', 'College', 'Experience', 'Games Played', 'MIN',
       'FGM', 'FGA', 'FG%', '15:00', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PTS', 'DD2', 'TD3'],
      dtype='object')

In [8]:
freq_dis_pos = df.Pos.value_counts()
freq_dis_pos

G      60
F      33
C      25
G/F    13
F/C    12
Name: Pos, dtype: int64

In [9]:
# Now we try to find the frequency table of height column.
freq_dis_height = df['Height'].value_counts()

In [10]:
freq_dis_height

188    20
193    18
175    16
185    15
183    11
173    11
191    11
196     9
178     8
180     7
170     6
198     5
201     2
168     2
206     1
165     1
Name: Height, dtype: int64

In [11]:
freq_dis_height = df['Height'].value_counts().sort_index()
freq_dis_height

165     1
168     2
170     6
173    11
175    16
178     8
180     7
183    11
185    15
188    20
191    11
193    18
196     9
198     5
201     2
206     1
Name: Height, dtype: int64

In [12]:
freq_dis_height = df['Height'].value_counts().sort_index(ascending=False)
freq_dis_height

206     1
201     2
198     5
196     9
193    18
191    11
188    20
185    15
183    11
180     7
178     8
175    16
173    11
170     6
168     2
165     1
Name: Height, dtype: int64

## Relative frequency = frequency รท number of observations
## Percentage frequency = relative frequency X 100

In [13]:
df.Age.value_counts()/len(df)

24    0.111888
23    0.104895
25    0.104895
28    0.097902
27    0.090909
26    0.083916
22    0.069930
30    0.062937
31    0.055944
29    0.055944
32    0.055944
34    0.034965
35    0.027972
33    0.020979
21    0.013986
36    0.006993
Name: Age, dtype: float64

In [14]:
len(df)

143

In [15]:
percentages_pos = df['Age'].value_counts(normalize=True).sort_index() * 100
percentages_pos

21     1.398601
22     6.993007
23    10.489510
24    11.188811
25    10.489510
26     8.391608
27     9.090909
28     9.790210
29     5.594406
30     6.293706
31     5.594406
32     5.594406
33     2.097902
34     3.496503
35     2.797203
36     0.699301
Name: Age, dtype: float64

In [17]:
from scipy.stats import percentileofscore

percentile_of_25 = percentileofscore(df['Age'], 25, kind = 'weak')
percentile_of_25

40.55944055944056

In [18]:
persecntiles = df['Age'].describe()
persecntiles

count    143.000000
mean      27.076923
std        3.679170
min       21.000000
25%       24.000000
50%       27.000000
75%       30.000000
max       36.000000
Name: Age, dtype: float64

In [19]:
persecntiles = df['Age'].describe(percentiles=[.1, .15, .33, .5, .592, .85, .9])
persecntiles

count    143.000000
mean      27.076923
std        3.679170
min       21.000000
10%       23.000000
15%       23.000000
33%       25.000000
50%       27.000000
59.2%     28.000000
85%       31.000000
90%       32.000000
max       36.000000
Name: Age, dtype: float64

## How to Make Grouped Frequency Distribution Table?

In [20]:
grouped_freq = df['Age'].value_counts(bins = 5).sort_index()
grouped_freq

(20.983999999999998, 24.0]    43
(24.0, 27.0]                  40
(27.0, 30.0]                  31
(30.0, 33.0]                  19
(33.0, 36.0]                  10
Name: Age, dtype: int64

In [21]:
intervals = pd.interval_range(start = 0, end = 600, freq = 100)
intervals

IntervalIndex([(0, 100], (100, 200], (200, 300], (300, 400], (400, 500], (500, 600]], dtype='interval[int64, right]')