In [1]:
import numpy as np
import pandas as pd

### 1) astype

In [2]:
d = {'col1': [1, 2], 'col2': [3, 4]}

df4 = pd.DataFrame(data=d)

df4

   col1  col2
0     1     3
1     2     4

In [3]:
df4.dtypes

col1    int64
col2    int64
dtype: object

In [4]:
# Now change the data types using astype

df4 = df4.astype(dtype='float64')

df4

   col1  col2
0   1.0   3.0
1   2.0   4.0

In [5]:
df4.dtypes

col1    float64
col2    float64
dtype: object

In [6]:
df5 = pd.DataFrame(data=d)
df5

   col1  col2
0     1     3
1     2     4

In [7]:
# Change specific column data type

df5['col1'] = df5['col1'].astype(dtype='float64')

df5.dtypes

col1    float64
col2      int64
dtype: object

In [8]:
# Another way to change data type for a specific column

df5.astype(dtype={'col2':'int32'}).dtypes

col1    float64
col2      int32
dtype: object

## 2) convert_dtypes

In [9]:
df = pd.DataFrame(
    {
        "a": pd.Series([1, 2, 3], dtype=np.dtype("int32")),
        "b": pd.Series(["x", "y", "z"], dtype=np.dtype("O")),
        "c": pd.Series([True, False, np.nan], dtype=np.dtype("O")),
        "d": pd.Series(["h", "i", np.nan], dtype=np.dtype("O")),
        "e": pd.Series([10, np.nan, 20], dtype=np.dtype("float")),
        "f": pd.Series([np.nan, 100.5, 200], dtype=np.dtype("float")),
    }
)

df

   a  b      c    d     e      f
0  1  x   True    h  10.0    NaN
1  2  y  False    i   NaN  100.5
2  3  z    NaN  NaN  20.0  200.0

In [10]:
df.dtypes

a      int32
b     object
c     object
d     object
e    float64
f    float64
dtype: object

In [11]:
dfn = df.convert_dtypes()
dfn

   a  b      c     d     e      f
0  1  x   True     h    10   <NA>
1  2  y  False     i  <NA>  100.5
2  3  z   <NA>  <NA>    20  200.0

In [12]:
dfn.dtypes

a      Int32
b     string
c    boolean
d     string
e      Int64
f    Float64
dtype: object

### 3) infer_objects

### 4) copy()

In [13]:
s = pd.Series([1, 2], index=["a", "b"])
s

a    1
b    2
dtype: int64

In [14]:
# Default deep=True if you want ot shallow copy then make deep=False

s_copy = s.copy()
s_copy

a    1
b    2
dtype: int64

### 5) bool

In [15]:
pd.Series([True]).bool()

True

In [16]:
pd.Series([False]).bool()

False

In [17]:
pd.DataFrame({'col': [True]}).bool()

True